<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/plug'); %>
    <title><%=title%></title>
    <link rel="stylesheet" href="https://raxmice.github.io/node-personal-blog/style.css">
    <style>
      .nav-link{
        display: none;
      }
    </style>
  </head>
<body>
  <div class="top">
        <%- include('partials/header'); %>
    </div>  
    <div class="container">
        <main>
          <h1><%= title %></h1>
          <p class="fs-5 col-md-8"><p><%= text %></p></p>
        </main>
      </div>
<div class="bottum">
  <%- include('partials/footer'); %>
  </div>
</body>
</html>