<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/plug'); %>
    <title>Home</title>
</head>
<body>
  <div class="top">
        <%- include('partials/header'); %>
    </div>  
<div class="container">
    <main>
      <h1>What is a blog ?</h1>
      <p class="fs-5 col-md-8"><p><%= hc %></p></p>
    </main>
  </div>
  <% allposts.forEach(function(data){ %>
    <div class="container">
      <main>
        <h1><%= data.title %></h1>
        <p class="fs-5 col-md-8"><%= data.text.substring(0, 100)+" ... " %><a href="post/<%=data.title%>">Read More</a></p>
      </main>
    </div>
    <% });%>
<div class="bottum">
  <%- include('partials/footer'); %>
  </div>
</body>
</html>